body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:497px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:25px;
  width:1168px;
  height:497px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:215px;
  width:100px;
  height:60px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:245px;
  width:0px;
  height:0px;
}
#u5_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:215px;
  width:100px;
  height:60px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:304px;
  width:100px;
  height:60px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:215px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-19px;
  width:8px;
  height:19px;
}
#u11_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-19px;
  width:393px;
  height:8px;
}
#u11_seg2 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:-19px;
  width:8px;
  height:53px;
}
#u11_seg3 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:26px;
  width:21px;
  height:8px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:-23px;
  width:100px;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:275px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:55px;
  width:119px;
  height:8px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:51px;
  width:100px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:304px;
  width:100px;
  height:60px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:334px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:364px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:76px;
  width:94px;
  height:8px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:109px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:389px;
  width:166px;
  height:109px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:162px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:414px;
  width:100px;
  height:60px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:444px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:304px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-63px;
  width:8px;
  height:63px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-63px;
  width:94px;
  height:8px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-67px;
  width:100px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:215px;
  width:100px;
  height:60px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:52px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
