body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:458px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:861px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:71px;
  width:1740px;
  height:861px;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:71px;
  width:562px;
  height:353px;
}
#u5748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
}
#u5749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:148px;
  word-wrap:break-word;
}
#u5750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u5750 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:218px;
  height:20px;
}
#u5751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:214px;
  word-wrap:break-word;
}
#u5752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
}
#u5752 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:187px;
  height:20px;
}
#u5753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  word-wrap:break-word;
}
#u5754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:103px;
}
#u5754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:152px;
  height:103px;
}
#u5755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:148px;
  word-wrap:break-word;
}
#u5756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:103px;
}
#u5756 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:20px;
  width:218px;
  height:103px;
}
#u5757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:214px;
  word-wrap:break-word;
}
#u5758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:103px;
}
#u5758 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:20px;
  width:187px;
  height:103px;
}
#u5759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:102px;
}
#u5760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:152px;
  height:102px;
}
#u5761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:102px;
}
#u5762 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:123px;
  width:218px;
  height:102px;
}
#u5763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:102px;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:123px;
  width:187px;
  height:102px;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:123px;
}
#u5766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:152px;
  height:123px;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:123px;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:225px;
  width:218px;
  height:123px;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:123px;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:225px;
  width:187px;
  height:123px;
}
#u5771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5772 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:117px;
  width:140px;
  height:40px;
}
#u5773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5774 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:202px;
  width:300px;
  height:170px;
  text-align:left;
}
#u5775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
