body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:458px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:861px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:71px;
  width:1740px;
  height:861px;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1741px;
  height:861px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:71px;
  width:1741px;
  height:861px;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1737px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:159px;
  width:163px;
  height:25px;
}
#u5474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:164px;
  width:57px;
  height:16px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5477 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:195px;
  width:57px;
  height:16px;
}
#u5478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5479 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:251px;
  width:163px;
  height:25px;
}
#u5479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5480 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:256px;
  width:57px;
  height:16px;
}
#u5481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5482 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:282px;
  width:163px;
  height:25px;
}
#u5482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:287px;
  width:43px;
  height:16px;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:313px;
  width:163px;
  height:25px;
}
#u5485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:318px;
  width:29px;
  height:16px;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:188px;
  width:163px;
  height:27px;
}
#u5489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5490 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:225px;
  width:39px;
  height:16px;
}
#u5491 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u5490_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5492 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:225px;
  width:36px;
  height:16px;
}
#u5493 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u5492_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5494 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:225px;
  width:29px;
  height:16px;
}
#u5495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5496 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:394px;
  width:122px;
  height:35px;
}
#u5497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u5498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:81px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:210px;
  width:300px;
  height:170px;
  text-align:left;
}
#u5501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
