body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:458px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:861px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:71px;
  width:1740px;
  height:861px;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:71px;
  width:1744px;
  height:353px;
}
#u6717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u6719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:0px;
  width:155px;
  height:20px;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u6721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:0px;
  width:135px;
  height:20px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u6723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:107px;
  height:20px;
}
#u6724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u6725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u6725 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:120px;
  height:20px;
}
#u6726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u6727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u6727 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:0px;
  width:100px;
  height:20px;
}
#u6728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u6729 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:0px;
  width:116px;
  height:20px;
}
#u6730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u6731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u6731 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:114px;
  height:20px;
}
#u6732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u6733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u6733 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:0px;
  width:120px;
  height:20px;
}
#u6734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u6735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u6735 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:0px;
  width:129px;
  height:20px;
}
#u6736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u6737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
}
#u6737 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:0px;
  width:157px;
  height:20px;
}
#u6738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:153px;
  word-wrap:break-word;
}
#u6739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:20px;
}
#u6739 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:0px;
  width:358px;
  height:20px;
}
#u6740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:354px;
  word-wrap:break-word;
}
#u6741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:103px;
}
#u6741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:128px;
  height:103px;
}
#u6742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:124px;
  word-wrap:break-word;
}
#u6743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:103px;
}
#u6743 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:20px;
  width:155px;
  height:103px;
}
#u6744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:151px;
  word-wrap:break-word;
}
#u6745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:103px;
}
#u6745 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:20px;
  width:135px;
  height:103px;
}
#u6746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:131px;
  word-wrap:break-word;
}
#u6747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:103px;
}
#u6747 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:20px;
  width:107px;
  height:103px;
}
#u6748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:103px;
  word-wrap:break-word;
}
#u6749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:103px;
}
#u6749 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:20px;
  width:120px;
  height:103px;
  font-size:14px;
}
#u6750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  word-wrap:break-word;
}
#u6751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u6751 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:20px;
  width:100px;
  height:103px;
}
#u6752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u6753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:103px;
}
#u6753 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:20px;
  width:116px;
  height:103px;
}
#u6754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:112px;
  word-wrap:break-word;
}
#u6755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:103px;
}
#u6755 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:20px;
  width:114px;
  height:103px;
}
#u6756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:110px;
  word-wrap:break-word;
}
#u6757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:103px;
}
#u6757 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:20px;
  width:120px;
  height:103px;
}
#u6758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  word-wrap:break-word;
}
#u6759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:103px;
}
#u6759 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:20px;
  width:129px;
  height:103px;
}
#u6760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:125px;
  word-wrap:break-word;
}
#u6761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:103px;
}
#u6761 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:20px;
  width:157px;
  height:103px;
}
#u6762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:153px;
  word-wrap:break-word;
}
#u6763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:103px;
}
#u6763 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:20px;
  width:358px;
  height:103px;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:102px;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:128px;
  height:102px;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:102px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:123px;
  width:155px;
  height:102px;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:102px;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:123px;
  width:135px;
  height:102px;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:102px;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:123px;
  width:107px;
  height:102px;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:102px;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:123px;
  width:120px;
  height:102px;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:102px;
}
#u6775 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:123px;
  width:100px;
  height:102px;
}
#u6776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:102px;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:123px;
  width:116px;
  height:102px;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:102px;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:123px;
  width:114px;
  height:102px;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:102px;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:123px;
  width:120px;
  height:102px;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:102px;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:123px;
  width:129px;
  height:102px;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:102px;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:123px;
  width:157px;
  height:102px;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:102px;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:123px;
  width:358px;
  height:102px;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:123px;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:128px;
  height:123px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:123px;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:225px;
  width:155px;
  height:123px;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:123px;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:225px;
  width:135px;
  height:123px;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:123px;
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:225px;
  width:107px;
  height:123px;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:123px;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:225px;
  width:120px;
  height:123px;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:123px;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:225px;
  width:100px;
  height:123px;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:123px;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:225px;
  width:116px;
  height:123px;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:123px;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:225px;
  width:114px;
  height:123px;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:123px;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:225px;
  width:120px;
  height:123px;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:123px;
}
#u6807 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:225px;
  width:129px;
  height:123px;
}
#u6808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:123px;
}
#u6809 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:225px;
  width:157px;
  height:123px;
}
#u6810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:123px;
}
#u6811 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:225px;
  width:358px;
  height:123px;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:1685px;
  top:121px;
  width:93px;
  height:30px;
}
#u6814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6817 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:446px;
  width:470px;
  height:221px;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6819 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:460px;
  width:65px;
  height:10px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6821 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:628px;
  width:90px;
  height:20px;
}
#u6821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:628px;
  width:90px;
  height:20px;
}
#u6822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:539px;
  width:300px;
  height:25px;
}
#u6823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:513px;
  width:99px;
  height:16px;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:49px;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:809px;
  width:415px;
  height:49px;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:497px;
  width:300px;
  height:170px;
  text-align:left;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  word-wrap:break-word;
}
