body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u6158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:932px;
}
#u6159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:458px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:861px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6160 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:71px;
  width:1740px;
  height:861px;
}
#u6161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:1736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:99px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:867px;
  width:94px;
  height:30px;
}
#u6165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:128px;
  width:200px;
  height:22px;
}
#u6166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6166_input:disabled {
  color:grayText;
}
#u6167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:411px;
  width:347px;
  height:104px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u6169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6169 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:177px;
  width:649px;
  height:672px;
  font-size:20px;
}
#u6170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  word-wrap:break-word;
}
#u6171 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:180px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6172 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6171_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6173 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:203px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6174 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6175 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:228px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6176 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6177 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:254px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6178 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6179 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:300px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6180 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6181 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:418px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6182 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6181_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6183 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:446px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6184 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6183_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6185 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:470px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6186 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6187 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:517px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6188 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6189 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:544px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6190 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6189_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6191 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:570px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6192 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6191_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6193 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:614px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6194 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6193_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6195 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:638px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6196 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6195_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6197 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:663px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6198 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6197_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6199 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:710px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6200 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6199_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6201 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:736px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6202 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6201_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6203 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:760px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6204 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6203_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6205 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:785px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6206 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6205_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6207 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:831px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6208 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6207_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6209 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:325px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6210 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6209_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6211 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:351px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6212 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6211_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6213 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:377px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6214 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6213_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6215 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:856px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6216 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6215_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6217 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:882px;
  width:117px;
  height:16px;
  font-size:28px;
}
#u6218 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6217_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
